body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.player {
    width: 20rem;
}

.score {
    position: relative;
}

.hidden {
    display: none;
}

.show {
    align-items: center;
    margin-left: 5rem;
}

.game-box {
    display: none !important;
}

.score-screen {
    width:18rem;
}

.user {
    position: absolute;
    left: 19rem ;
}

.comp {
    position: absolute;
    right: 18rem ;
}

@media screen and (min-width:770px)  and (max-width:1024px){
    .user {
        position: absolute;
        left: 10rem ;
    }

    .comp {
        position: absolute;
        right: 10rem ;
    }
    .score-screen {
        width:18rem;
    }
}

@media screen and (max-width:768px) {
    .user {
        position: absolute;
        left: 5rem;
    }

    .comp {
        position: absolute;
        right: 5rem;
    }
}

@media screen and (min-width:320px) and (max-width:425px) {
    .user {
        position: absolute;
        left:-0.5rem;
    }

    .comp {
        position: absolute;
        right:-1rem;
    }
    .score-screen {
        width:70%;
    }
}